
.App {
  margin: 0 auto;
  display: grid;

  grid-template-areas: "header header header" "content content navbar";
  grid-template-rows: 200px 1fr;
  /*grid-template-columns: 10px 50fr;*/
  grid-gap: 10px;

  /*background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);*/

  text-align: center;
}

